.hero_services{
    background-image: url(../images/Appointment.jpg);
    height: 440px;
    
}

.hero_services .title_ser >div{
margin-top: -135px;
}
.book{
    /* min-height: 900px; */
    padding: 0px;
    background-image: unset;
    
}
.main_Appointment{
    padding-bottom: 180px;
}
.appointment-wrap-two{
    margin-top: -160px;
}
.book .my_form{
    background-image: none;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px 0px #ddd;
    padding: 80px 65px 80px;
    position: relative;
}
.appointment_right{
    padding: 50px 0px;
    background-image: url(../images/about_4.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    z-index: 1;
}
.appointment_content {
    /* background-color: red; */
    
    padding: 95px 30px 100px;
    margin: 0 40px;
    background-color: #e7e7e7;
    border-radius: 10px;
}
.appointment_content h2{
    margin-bottom: 30px;
    font-size: 24px;
    color: #0046c0;
    font-weight: 600;
}
.appointment_content span{
    position: absolute;
    right: 95px;
}
.appointment_content ul li{
    position: relative;
    color: #4a6f8a;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}
.appointment_content ul li::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 95px;
    width: 50px;
    height: 1px;
    background-color: #b7b2b2;

}
.appointment_shape{
    position: absolute;
    bottom: -65px;
    left: -74px;
    width: 310px;
    animation: app_shape 5s infinite linear;
}
.appointment_shape img{
    max-width: 100%;
}

@keyframes app_shape {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0);
    }
    
}

@media (max-width:991px) {
    .appointment_content span{
    
    right: 285px;
}
}
@media (max-width:768px) {
    .hero_services{
        height: 280px;
    }
    .main_Appointment{
        padding-top: 60px;
    }
    .appointment-wrap-two{
        margin: 0;
    }
     .book .my_form{
        padding: 30px 15px 40px;
    } 
        .appointment_content span{
    
    right: 20px;
}
.appointment_right{
    padding: 30px 0px;
}
.appointment_content {
    /* background-color: red; */
    
    padding: 20px 15px 30px;
    margin: 0 10px;
    
}
.appointment_content ul li::after{
    content: unset;
}
 .appointment_content span{
    
    left: 95px;
}
.hero_services .title_ser >div{
margin-top: 0px;
}
}
