.blog_de{
    padding-top:100px ;
    padding-bottom: 20px;
    position: relative;
}
.blog_de_left,.blog_de_right{
    margin-bottom: 30px;
}
.blog_de_left  .blog_de_img img{
    
    display: block;
    width: 100%;
    /* height: 50%; */
    margin-bottom: 30px;
}
.blog_de_left  .blog_de_img h2 {
    color: #232323;
    font-weight: 600;
    font-size: 28px;
    /* font-size: clamp(20px , 3vw , 28px); */
    margin-bottom: 16px;
}
.blog_de_left  .blog_de_img ul ,.blog_de_left .blog_de_bottom ul {
    margin-bottom: 30px;
}
.blog_de_left  .blog_de_img ul li {
    display: inline-block;
    color: #3a5ed3;
    margin-right: 50px;
}
.blog_de_left  .blog_de_img ul li a , .blog_de_recent > ul li >div li a{
    color: #0046c0;
    font-weight: 400;
    display: inline-block;
}
.blog_de_left  .blog_de_img ul li i , .blog_de_recent > ul li >div li i{
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
}
.blog_de_left  .blog_de_img p{
    font-size: 15px;
    margin-bottom: 22px;
    line-height: 1.7;
    color:  rgb(74, 111, 138);
}

.blog_de_left .blog_de_bottom h3{
    color: #232323;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 15px;
}
.blog_de_left .blog_de_bottom ul li{
    color: rgb(74, 111, 138);
    display: block;
    margin-bottom: 6px;
    
}
.blog_de_left .blog_de_bottom > div{
    display: flex;
    justify-content: space-between;
    
}
.blog_de_left > div button{
    padding: 10px 20px;
    border: 1px solid #0045be;
    border-radius: 6px;
    color: #0045be;
    transition: 0.5s ease;
}
.blog_de_left > div button:hover , .blog_de_btn:hover{
    color: #ffffff;
    border-color:  #4a6f8a;
    background-color: #4a6f8a;
}

.blog_de_search{
    position: relative;
    margin-bottom: 30px;
}
.blog_de_search .form-control{
    height: 50px;
    border: 1px solid #0046c0;
    padding-left: 25px;
}

.blog_de_search form button{
    padding: 12px 20px;
    background-color: #0046c0;
    color: #ffffff;
    border-radius: 6px;
    position: absolute;
    top:0;
    right: 0;
    font-size: 17px;
    transition: 0.5s ease;
}
.blog_de_search form button:hover{
    
    background-color:#4a6f8a ;
}
.blog_de_search form button i{
    /* font-size: 17px; */
    font-weight: 600;
    
}
.blog_de_recent , .blog_de_category{
    margin-bottom: 40px;
}
.blog_de_right h3{
    color: #232323;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}
.blog_de_recent > ul li{
    padding-bottom: 30px;
    display: flex;
    gap: 20px;
    position: relative;
}
.blog_de_recent > ul li:last-child{
    padding-bottom: 0;
}
  .blog_de_recent > ul li>div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}  
 .blog_de_recent > ul li >div li{
    padding: 0;
    display: inline-block;
    color: #0045be;
    
 }
 .blog_de_recent > ul li >div li:first-child{
    margin-right: 25px;
 }
 .blog_de_recent > ul li >div li i{
    margin-right: 2px;
 }
.blog_de_recent > ul li h4 a{
    display: block;
    font-weight: 600;
    color: #232323;
    font-size: 15px;
    padding-top: 4px;
}
.blog_de_recent image{
    width: 100px;
    height: 95px;
}
.blog_de_category ul li{
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    border-bottom: 1px solid #dee8f5;
    position: relative;
}

.blog_de_category ul li::before{
    position: absolute;
    content: "";
    top: -3px;
    left: 0;
    width: 3px;
    height: 30px;
    z-index: -1;
    background-color: #2362bc;
    transition: 0.5s ease;
}
.blog_de_category ul li:hover:before{
    width: 100%;
}
.blog_de_category ul li a{
color: #4a6f8a;
display: block;
font-weight: 500;
transition: 0.5s ease;
}
.blog_de_category ul li a:hover{
    color: white;
}
.blog_de_tags ul{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.blog_de_tags ul li a{
    display: block;
    padding: 12px 25px;
    color: #4a6f8a;
    background-color: #e5e5e5;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.5s ease;
}
.blog_de_tags ul li a:hover{
    color: #ffffff;
    background-color: #4a6f8a;
}

.blog_de_form {
    padding-bottom: 100px;
    position: relative;
}
.blog_de_form h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 40px;
    color: #232323;
}
.blog_de_form .form_group , .blog_de_form textarea{
    margin-bottom: 30px;
}
.blog_de_form .form-control{
    height: 50px;
    padding-left: 20px;
    border-radius: 6px;
    border: 0;
    background-color: #fafafa;
    box-shadow: 0px 3px 8px 0px rgba(221, 221, 221, 0.7215686275);
}
.blog_de_form textarea {
    height: 250px !important;
    padding: 20px;
    position: relative;
    z-index: 1;
}
.blog_de_btn{
    color: #ffffff;
    background-color: #0046c0;
    padding: 15px 34px;
    font-weight: 500;
    transition: 0.5s ease;
}
.blog_de_shape{
    width: 360px;
    position: absolute;
    top: 130px;
    /* left: 122%; */
    right: 0;
    animation: Shape 2.5s infinite linear  alternate-reverse ;
}
.blog_de_shape img{
    max-width: 100%;
}
@keyframes Shape {
    form {
            transform: translateY(0);
        }
    
        to {
            transform: translateY(40px);
        }
}







@media (max-width : 991px) {
    .blog_de_left  .blog_de_img img{
        margin-bottom: 40px;
    }
    .blog_de_left  .blog_de_img h2{
        font-size: 22px;
        margin-bottom: 15px;
    }
    .blog_de_left  .blog_de_img p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .blog_de_left .blog_de_bottom h3{
        margin-bottom: 15px;
    }
    .blog_de_left  .blog_de_img ul {
        margin-bottom: 25px;
    }
    .blog_de_form h2{
        font-size: 26px;
        margin-bottom: 25px;
    }
}

@media (max-width : 768px) {
    .blog_de_left  .blog_de_img img{
        margin-bottom: 30px;
    }
    .blog_de_left  .blog_de_img h2{
        font-size: 20px;
    }
    .blog_de_left .blog_de_bottom h3{
        font-size: 14px;
    }
    .blog_de li{
        font-size: 14px;
    }
    .blog_de_right h3{
        font-size: 20px;
        margin-bottom: 25px;
    }
    .blog_de_recent > ul li h4 a{
        font-size: 13px;
        padding-top: 2px;
    }
    .blog_de_recent > ul li{
        padding-bottom: 15px;
    }
    .blog_de_left  .blog_de_img ul li i , .blog_de_recent > ul li >div li i{
        font-size: 18px;
    }
    .blog_de_left > div button{
        padding: 6px 18px;
        font-size: 14px;
    }
    .blog_de_btn{
        padding: 13px 25px;
        font-size: 14px;
    }
    .blog_de_shape{
        width: 110px;
        top: -33px;
    }
    .blog_de_form{
        padding-bottom: 50px;
    }
    .blog_de{
        padding-top: 50px;
    }
}


