.hero_services{
    background-image: url(../images/contact_us.jpg);
}
.locaton_area .location_wrap{
    background-image: url(../images/cnt.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px 0px #ddd;
    padding: 80px 0px 50px 170px;
    margin-top: -125px;
    position: relative;
    background-color: #ffffff;
}

.locaton_area .location_wrap .location_item{
    margin-bottom: 30px;
}
.location_item i{
    display: inline-block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
    background-color: #0046c0;

}
.location_item h3{
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 28px;
}
.location_item a ,.location_item p {
    color: #4a6f8a;
}
.location_item p{
    margin-bottom: 18px;
    line-height: 1.7;
}
.main_contact{
    padding-top: 100px;
}
.drop_item{
    background-image: url(../images/contact_sec_2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.drop_left{
    padding: 100px 0px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    
}
.drop_left h2{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 25px;
    padding-right: 50px;
}
.drop_left .form_group{
    margin-bottom: 30px;
}
.drop_left .form-control{
    height: 50px;
    background-color: #ffffff;
    padding-left: 20px;
    border: none;
    box-shadow: 0px 0px 15px 0px rgba(221, 221, 221, 0.6392156863);
}
.drop_left textarea{
    padding-top: 20px;
    height: auto !important;
}
.drop_left label{
    color: #4a6f8a;
}
.drop_left label a{
    color: #0046c0;
}
.drop_left label a:hover{
    color: #111111;
}
.drop_left .drop-btn{

    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    padding: 14px 35px;
    transition: 0.5s ease;
    background-color: #0046c0;
    box-shadow: none;
}
.drop_left .drop-btn:hover{
    background-color: #4a6f8a;
}
.speciality-right{
    background-image: url(../images/emg_5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}
.speciality-right::before{
    content: "";
    position: absolute;
    top: -25px;
    right: 0;
    width: 405px;
    height: 300px;
    z-index: -1;
    background-color: #0046c0;
}
.speciality-right img{
    display: none;
    max-width: 100%;
}
.speciality-emergency{
    position: absolute;
    bottom: 20px;
    left: -70px;
    background-color: #0046c0;
    padding: 30px 295px 25px 40px;
    border-radius: 10px;
}

.cover_icon{
    display: inline-block;
    width: 45px;
    height: 45px;
    transform: rotate(45deg);
    background-color: #ffffff;
}
.cover_icon i{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #0046c0;
    line-height: 45px;
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    left: 12px;

}
.speciality-emergency p{
    color: #4a6f8a;
    line-height: 1.7;
}
.speciality-emergency h3{
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 8px;
    position: absolute;
    top:23px;
    right: 70px;
}

#map{
    height: 600px;
    width: 100%;
    display: block;
}


@media (max-width : 991px) {
    .locaton_area .location_wrap{
        padding: 40px 0px 10px 80px;
        margin-top: 70px;
    }
    .location_item i{
        margin-bottom: 18px;
        font-size: 28px;
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
    .location_item h3 ,.speciality-emergency h3{
        font-size: 22px;
    }
    .location_item h3{
        margin-bottom: 10px;
    }
    .main_contact{
    
    padding-top: 70px;
}
    .drop_item{
    background-image: unset;
    height: auto;
}
.drop_left{
    
    max-width: 100%;
    padding: 0 15px 30px;
    
}
.speciality-right{
    background-image: unset;
    height: auto;
}
.speciality-right img{
    display: inline-block;
    
}
.speciality-right::before{
    all: unset;
}
.speciality-emergency{
    left: 15px;
    padding: 30px 295px 20px 40px;
}
.speciality-emergency h3{
    right: 80px;
}
#map{
    height: 500px;
}

}

@media (max-width : 768px) {
    .locaton_area .location_wrap{
        padding: 40px 0px 10px ;
        margin-top: 50px;
    }
    .location_item i{
        
        width: 65px;
        height: 65px;
        line-height: 65px;
    }
    .location_item h3{
        font-size: 20px;
       
    }
    .location_item p{
    margin-bottom: 12px;
}
    .main_contact{
    
    padding-top: 50px;
}
.drop_left h2{
    font-size: 20px;
    margin-bottom: 20px;
    padding-right: 0px;
}
.drop_left .form-control{
    height: 45px;
    font-size: 14px;
}
.drop_left .drop-btn{
    padding: 12px 30px;
    font-size: 14px;
}
.speciality-emergency{
    padding: 25px 210px 20px 30px;
}
.cover_icon{
    width: 40px;
    height: 40px;
}
.cover_icon i{
    font-size: 18px;
}
.speciality-emergency h3{
    right: 45px;
    font-size: 18px;
}
}


