.hero_services{
    height: 400px;
    background-image: url(../images/Services.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    position: relative;
}
.hero_services::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #0046c0;
}

.hero_services .title_ser{
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #f8f8f8;

}
.hero_services .title_ser h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}
.hero_services .title_ser ul{
    display: flex;
    gap: 10px;
}
.hero_services .title_ser li , .hero_services .title_ser a{
font-size: 18px;
font-weight: 600;
color: #f8f8f8;
transition: 0.5s;
}
.hero_services .title_ser a:hover{
    color: black;
}



/* ! exp */
.exp .exp_item{
    text-align: center;
    background-color:#0046c0 ;
    padding: 42px 25px 35px 25px;
    
}
.exp_item i{
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    /* border-radius: 50%; */
    font-size: 30px;
    color: #0046c0;
    border: unset;
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.6509803922);
    background-color: #ffffff;
    
}
.exp_item h3 ,.exp_item p{
    color: white;
}
.exp_item:hover i {
    /* box-shadow: 0 0 0 8px #6096fd; */
    /* border-color: #ffffff; */
    box-shadow: unset;
    color: #0046c0;
    background-color:#ffffff;
}

/* ! exp */

@media (max-width : 991px) {
    .hero_services .title_ser h2{
        font-size: 35px;
        margin-bottom: 15px;
    }
    .hero_services .title_ser li , .hero_services .title_ser a{
        font-size: 15.5px;
    }
}
@media  (max-width : 768px){
    .hero_services .title_ser h2{
        font-size: 26px;
        }
    
}

